section, ion-textarea, ion-textarea div, ion-textarea textarea, textarea {
    height: 100%!important;
    resize: none!important;
    overflow-y: hidden!important;
    width: 100%!important;
    position: absolute!important;
    margin: 0!important;
    border: 0!important;
    padding: 0!important;
}
.dummy {
    visibility: hidden!important;
    height: 0px!important;
}
  
  